<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <!-- link to main stylesheet -->
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/cv">CV</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:zxw1992spark@gmail.com; zxw992@hotmail.com">Email</a></li>
   <li><a href="https://github.com/zxw1992">github.com/zxw1992</a></li>
   </ul>
  </footer>
  </body>

</html>
